<nav class="navbar navbar-expand-lg navbar-light bg-primary shadow" style="position: sticky; top: 0; z-index: 1000;">

    <div class="container">

        <a class="navbar-brand mt-1 mx-1 text-dark font-weight-bold text-uppercase" href="/">

            {{ site.title }}

        </a>        

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">

            <a class="navbar-brand mt-1 text-muted mr-auto" href="/">

                {{ site.subtitle }}

            </a>

            <ul class="navbar-nav ml-auto">

                {% for item in site.data.navigation %}

                <li class="nav-item text-uppercase">            
                    
                    <a class="nav-link text-dark mr-2 {% if item.link == "/blog.html" %} btn btn-dark text-primary shadow px-3 {% endif %}{% if page.url == item.link %}font-weight-bold{% endif %}" href="{{ item.link }}">
                                                    
                        {{ item.name }}
                        
                    </a>

                </li>

                {% endfor %}

                <li class="nav-item p-1">

                    {%- include social.html -%}

                </li>
         
            </ul>

        </div>

        </div>

    </div>

</nav>